<div>
    <a href="https://at-leisure.github.io/message-system" style="
    text-align: right;
    text-decoration: underline;
    font-weight: bold;">
        <p style="color: #80a6eb;">评论：点击登录Github账号</p>
    </a>
</div>
<div id="gitalk-container"></div>
<script>
    console.log(location.pathname);
    console.log(md5(location.href));
    var gitalk = new Gitalk({
        clientID: 'Ov23li9k4GjjOmfjFuDe',
        clientSecret: '5d7bfdefa82effde66da10b2af85b5eed56885e8',
        repo: 'message-system',
        enable: true,
        owner: 'At-Leisure',
        proxy: "https://strong-caramel-969805.netlify.app/github_access_token",
        admin: ['At-Leisur'],
        id: '',      // Ensure uniqueness and len
        labels: [md5(location.href)],//md5(location.herf),
        distractionFreeMode: false,  // Facebook-like distraction
    })
    gitalk.render('gitalk-container');
</script>